{% extends "base.html" %}

{% block title %}Download Mapping{% endblock title %}

{% block content %}
<p>Please pick a mapping to query the database with.</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <table>
        <tr>
            <th>Title</th>
            <th>Description</th> 
            <th>Time of last update</th>
            <th></th>
        </tr>
        {% for x in mappings %}
            <tr>
                <td>{{ x.title }}</td>
                <td>{{ x.description }}</td>
                <td>{{ x.last_updated }}</td>
                <td>
                    <input type="radio" name="mapping" value="{{ x.id }}" />
                </td>
            </tr>
        {% endfor %}
    </table>
    <input type="submit">Submit</input>
</form>

{% endblock content %}
