{% extends "base.html" %}

{% block title %}Export Excel Document{% endblock title %}

{% block content %}
<h1>Selected Mapping</h1>
<table>
    <tr>
      <th>Title</th>
      <th>Description</th> 
      <th>Time of last update</th>
    </tr>
        <tr>
            <td>{{ mapping.title }}</td>
            <td>{{ mapping.description }}</td>
            <td>{{ mapping.last_updated }}</td>
        </tr>
</table>
<p><a href="{% url 'select' %}">Reselect Mapping</a></p>
<h1>Preview of Generated Excel</h1>
<table>
    <tr>
      {% for header in df.columns %}
        <th> {{header}} </th>
      {% endfor %}
    </tr>
      {% for index, row in df.iterrows %}
        <tr>
          {% for ele in row %}
            <td> {{ele}} </td>
          {% endfor %}
        </tr>
      {% endfor %}
  </table>

<form action="{% url 'download' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Download">
</form>
{% endblock content %}
