{% extends 'base.html' %}

{% block content %}
<header class="page-header">
    <div class="header-logo">EFi</div>
    <div class="header-link">
        <a href="{% url 'index' %}">HOME</a>
        <a href="{% url 'logout' %}">LOGOUT</a>
    </div>
</header>
<h1 class="title">Visualize Mapping</h1>
{% if error %}
    <div class="error-msg">
        {{ error }}
    </div>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="table-container">
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th> 
                <th>Time of last update</th>
                <th>Pick a Mapping!</th>
            </tr>
            {% for x in mappings %}
                <tr>
                    <td>{{ x.title }}</td>
                    <td>{{ x.description }}</td>
                    <td>{{ x.last_updated }}</td>
                    <td>
                        <input type="radio" name="mapping" value="{{ x.id }}" />
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="center">
        <button class="shiny" type="submit">Visualize</button>
    </div>
</form>
<div class="center">
    <a href="{% url 'index' %}"><button class="shiny">&laquo; Go back</button></a>
</div>
{% endblock %}
