{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
    <header class="page-header">
        <div class="header-logo"> EFi </div>
        <div class="header-link"><a href="/">HOME</a></div>
    </header>
    <div class="registration-container">
        <h1 class="registration-text">LOGIN</h1>
        <form method="post" class="registration-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="shiny" type="submit">Log In</button>
        </form>
        <h3>Don't have an account? <a href="{% url 'register' %}">Register</a></h3>
    </div>
{% endblock content %}
