<!DOCTYPE html>

{% load static %}
<html>
  <link rel="stylesheet" href="{% static 'app/export-success.css' %}">
  <link rel="stylesheet" href="{% static 'app/form.css' %}" />
  <link rel="stylesheet" href="{% static 'app/header.css' %}" />
  <link rel="stylesheet" href="{% static 'app/registration.css' %}" />
  <link rel="stylesheet" href="{% static 'app/response.css' %}" />
  <link rel="stylesheet" href="{% static 'app/search.css' %}" />
  <link rel="stylesheet" href="{% static 'app/style.css' %}" />
  {% block content %}{% endblock content %}
</html>
